<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Erro de Autenticação</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../../public/bootstrap/bootstrap.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="../../../public/css/style.css">
</head>
<body>
    <div class="container min-vh-100">
        <header class="row bg-white">
            <div class="col-8 d-flex align-items-center">
                <img class="w-100 unesp" src="../../../public/images/unesp-logo.png" alt="Logo UNESP">
            </div>
            
            <div class="col-4 pt-3 pb-3 d-flex justify-content-end">
                <img class="w-100 feb" src="../../../public/images/feb-logo.jpg" alt="Logo FEB">
            </div>
        </header>

        <div class="w-100 rounded bg-primary text-center" style="padding: 8em 2em;">
            <p class="text-light fw-bold lead mb-5">Houve um erro ao acessar sua conta, por favor, tente novamente mais tarde.</p>

            <a href="../../../index.php" class="btn btn-dark">Voltar ao Login</a>
        </div>

         <footer class="text-center pt-5 pb-3">
             &copy; 2021 UNESP - Universidade Estadual Paulista "Júlia de Mesquita Filho"
         </footer>
    </div>

    <!-- Bootstrap -->
    <script src="../../../public/bootstrap/bootstrap.min.js"></script>
</body>
</html>